
.refreshicon 
{
    background-image: url(graphics/refresh.png ) !important;
}

.backicon 
{
    background-image: url(graphics/back.png ) !important;
}

.clearicon 
{
    background-image: url(graphics/clear.png ) !important;
}

.downloadicon 
{
    background-image: url(graphics/download.png ) !important;
}

.addicon 
{
    background-image: url(graphics/plus-button.png.png ) !important;
}