@charset "utf-8";
/*main and reset*/


html, body, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
div, span, object, iframe,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;}

html {
	background:#FFF;}
body {
	font: 70%/1.7em Verdana,Arial,Geneva, Helvetica, sans-serif;
	text-align: left;
	color: #000;

}
#header {
background: url(img/headbg.gif) repeat ;
height:48px;
width:100%;
}
#logo{
background: url(img/logo.png) no-repeat;
height:36px;
width:141px;
}
#left_content{
background: #FFF;
float:left;
width:740px;
margin-left:80px;
margin-top: 20px;
}
#right_content{
background: #FFF;
float:right;
width:373px;
margin-right:80px;
margin-top: 20px;
}
#tblHead{
background:#E7E5E4;
width:100%;
height:5px;
border-right:solid 1px #CCCCCC;
}
#tblTitle{ background:#FFF; height:20px;}
#tblRow1{background:#E7E5E4; width:100%; height:20px; border-right:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC;}
#tblRow2{background:#E7E5E4; width:100%; height:128px; border-right:solid 1px #CCCCCC;}
#tblRow4{background:#E7E5E4; width:100%; height:160px; border-right:solid 1px #CCCCCC;}
#tblRow4 ul li{ list-style:none; padding: 0px 20px 0px 14px;}
#tblRow2 ul li{ list-style:none; padding: 0px 20px 0px 14px;}
#tblRow1 ul li{ list-style:none; display: inline; padding: 0px 20px 0px 14px;}
#tblRow{ background:#FFF; width:100%; height:33px; border-right:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC;}
#tblRow:hover{ background:#E7E5E4; width:100%; height:33px; cursor:pointer;}
#tblRow3{ background:#FFF; width:100%; height:28px; border-right:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC;}
#tblRow3:hover{ background:#E7E5E4; width:100%; height:28px; cursor:pointer;}
#online ul li{ list-style:none; display: inline; padding: 0px 35px 0px 8px; color:#000;}
#offline ul li{ list-style:none; display: inline; padding: 0px 35px 0px 8px;  color:#000;}
#working ul li{ list-style:none; display: inline; padding: 0px 35px 0px 8px; color:#000;}
#online {background:url(img/online.gif) no-repeat; width:100%; height:32px; padding: 6px 0px 0px 8px;}
#offline {background:url(img/offline.gif) no-repeat; width:100%; height:32px; padding: 6px 0px 0px 8px;}
#working {background:url(img/working.gif) no-repeat; width:100%; height:32px; padding: 6px 0px 0px 8px;}
#tblPages{ width:100%; height:30px; border-right:solid 1px #CCCCCC;}
#tblEnd{background:url(img/tblend.gif) top no-repeat;width:100%; height:10px; margin:0;}
#menu {
	position:absolute;
	top:7px;
	left:200px;
	color:#FFF;
	font:Verdana;
	font-size:15px;
	padding:5px 0;
	
}
 #menu ul {
list-style:none;
display: inline;
	}
	
#menu ul li {
padding-left:20px;
display: inline;
	}
	
	
#menu ul ul a:link {
color:#FFF;
	
	}

#menu ul ul a:hover {
}
#exit{ position: absolute; float:right; top: 13px; right:5px;}

a:link, a:visited {
	text-decoration: none;
        font-weight: normal;
        color:#FFF;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
}

.pagination{
padding: 2px;
}

.pagination ul{
margin: 0;
padding: 5px;
text-align: left; /*--Set to "right" to right align pagination interface--*/
font-size: 12px;
}

.pagination li{
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
	color: #000;
	background-color: #F7F7F4;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #CECECA;
text-decoration: none; 
color: #666;
font-weight: bold;
}

.pagination a:hover, .pagination a:active{
	border: 1px solid #CECECA;
	color: #000;
	background-color: #F7F7F4;
}

.pagination a.currentpage{
	background-color: #F7F7F4;
	color: #000;
	border-color: #CECECA;
	font-weight: bold;
	cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
	background-color: #F7F7F4;
	cursor: default;
	color: #000;
	border-color: #CECECA;
	font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: bold;
}
#footer { clear:both; position:absolute; bottom:0; background:#CCCCCC; border-top:solid 1px #FFF; height: 30px; width:100%; padding:10px 0px 0px 0px; }
#footer span{ }