<!DOCTYPE html>
<html>
<head>
<title>vSkimmer CPanel</title>
<meta charset="windows-1252">
<link rel="stylesheet" type="text/css" href="template/css.css">
<script type="text/javascript" src="template/js.js"></script>
</head>
<body>
<div id="wrapper">

<div id="header">
<div id="logo"></div>
<div id="menu">
<ul>
<li><a href="?m=terminals"><b>POS TERMINALS</b></a></li>
<li><a href="?m=commands"><b>COMMANDS</b></a></li>
<li><a href="?m=settings"><b>SETTINGS</b></a></li>
</ul>
</div>
<div id="exit"><a href="?quit"><img src="template/img/exit.png" width="12" height="12"> QUIT</a></div>
</div>