<div id="content"><div id="left_content">
<div id="tblPOS">
<div id="tblHead"></div>
<div id="tblTitle"><center><b>POS TERMINALS BROWSER</b></center></div>
<div id="tblRow1"><ul><li>#ID</li><li>Win Ver. </li><li>Country </li><li>IP Addr. </li><li>Admin? (User) </li><li>BuildId </li><li>Bot Ver. </li><li>Actions </li></ul></div>
<?=BotsList();?>
<div id="tblPages"><div class="pagination"><ul><?=$_pagi_navegacion;?></ul></div></div>
<div id="tblEnd"></div>
</div>
</div><div id="right_content">
<div id="tblRight">
<div id="tblHead"></div>
<div id="tblTitle"><center><b>GENERAL STATISTICS</b></center></div>
<div id="tblRow2"><ul><li>Online Bots: <b><?=$onlineBots;?></b> </li><li>Offline Bots: <b><?=$offlineBots;?></b> </li><li>Total Bots: <b><?=$totalBots;?></b> </li><li>Online last 24hrs: <b><?=$hoursBots;?></b> </li><li>Probably Dead: <b><?=$deadBots;?></b> </li><li>Total Dumps: <b><?=$totalDumps;?></b> </li></ul></div>
<div id="tblEnd"></div>
</div><br />
<!--<div id="tblRight">
<div id="tblHead"></div>
<div id="tblTitle"><center><b>FILTER SEARCH</b></center></div>
<div id="tblRow2"></div>
<div id="tblEnd"></div>
</div>-->
</div></div>