<table cellspacing="0" cellpadding="0" border="0" width="100px" height="50px">
<tr>
	<td width="43px" style='background: url("img/p-botsqview-p1.png"); background-repeat: no-repeat;' title="Online bots and All bots"></td>
	<td width="57px" style='background: url("img/p-botsqview-p2.png"); background-repeat: no-repeat;' id='bstat' title="Online bots and All bots">
	<div style='font-weight:bold;text-align:center' id='bot_info'><b>{$COUNT1}<br>{$COUNT2}</b></div>
	</td>
</tr>
</table>
