<table border="0" cellpadding="0" cellspacing="0" height="50px" width="100%">
			<tbody><tr>
			<td align="left"><table border="0" cellpadding="0" cellspacing="0" height="50px" width="100px">
<tbody><tr>
	<td style="background: url(&quot;img/p-clock-p1.png&quot;) no-repeat scroll 0% 0% transparent;" title="Server's time" width="39px"></td>
	<td style="background: url(&quot;img/p-clock-p2.png&quot;) no-repeat scroll 0% 0% transparent;" id="time" title="Server's time" width="61px"><font style="font-size: 8px;"><div style='text-align:center;' id='clock'><b>{$YEAR}<br>{$MONTH}/{$DAY}<br>{$TIME}</b></div></font></td>

</tr>
</tbody></table>
