<br><hr color="#dddddd" size="1"><br>
<h3>Loads for <a href="#" id='gtlink'><b>Global task # {$TID} </b></a><br>
Create Date: {$CREATE_DATE}</h3>
<table>
<tr><td colspan="2" align='center'><h2><b>Statistic by OS</b></h2></td></tr>
<tr>
	<td align='center' width="50%">
