/******************************************************
	Project:     AdminCP
	Author:  	 Yuliyan Slavchev
	Date:  		 27/12/2011
******************************************************/
body {
background:#363d47 url(../images/background.jpg) top center no-repeat fixed;
font-family:Tahoma,Verdana,Arial,sans-serif;
font-size:12px;
color:#fff;
}

h1 {
font-size:24px;
margin:10px 0;
}

h2 {
font-size:20px;
margin:10px 0;
}

h3 {
font-size:18px;
margin:10px 0;
}

h4 {
font-size:16px;
margin:10px 0;
}

h5 {
font-size:12px;
margin:10px 0;
}

ul {
list-style:square;
list-style-position:inside;
margin:10px 0;
}

.form .input {
    background:url(../images/loginbox_bg.png) repeat;   
	border: 0 none;      
	color: #fff;    
	width: 150px;    
	padding: 6px 15px 6px 35px;    
	-webkit-border-radius: 20px;    
	-moz-border-radius: 20px;    
	border-radius: 20px;    
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);    
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
	-webkit-transition: all 0.7s ease 0s;    
	-moz-transition: all 0.7s ease 0s;    
	-o-transition: all 0.7s ease 0s;    
	transition: all 0.7s ease 0s;
}

.form .textarea {
border:1px solid #8e9bac;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background:linear-gradient(top,#fff0%,#e5e5e53%,#fff25%,#fff100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#ffffff',GradientType=0);
padding:5px;
}

.form .select {
    background:url(../images/loginbox_bg.png) repeat;  
	border: 0 none;       
	color: #666666;    
	width: 150px;    
	padding: 6px 15px 6px 35px;    
	-webkit-border-radius: 20px;    
	-moz-border-radius: 20px;    
	border-radius: 20px;    
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);    
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;    
	-webkit-transition: all 0.7s ease 0s;    
	-moz-transition: all 0.7s ease 0s;    
	-o-transition: all 0.7s ease 0s;    
	transition: all 0.7s ease 0s;
}

.form label {
display:block;
margin:5px 0;
}

.form input.error {
-webkit-shadow:0 0 4px #c06666;
-moz-box-shadow:0 0 4px #c06666;
box-shadow:0 0 4px #c06666;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

label.error {
opacity:0;
width:0;
height:0;
overflow:hidden;
}

.form_row {
margin:0 0 10px;
}

div.error {
height:50px;
margin-top:5px;
margin-bottom:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #571c1c;
background:url(../images/alert_bg.png) top repeat-x;
-webkit-box-shadow:1px 2px 2px #323a43;
-moz-box-shadow:1px 2px 2px #323a43;
box-shadow:1px 2px 2px #323a43;
position:relative;
}

div.error h3 {
height:50px;
background:url(../images/alert_icons.png) left top no-repeat;
font-size:12px;
line-height:50px;
padding-left:50px;
color:#f7c6c6;
text-shadow:1px 1px 0 #000;
margin:0;
}

div.error .hide_btn {
width:16px;
height:17px;
display:block;
text-decoration:none;
position:absolute;
right:18px;
top:17px;
background:url(../images/alert_close_btn.png) top no-repeat;
opacity:0.7;
}

div.warning {
height:50px;
margin-top:5px;
margin-bottom:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #493b15;
background:url(../images/alert_bg.png) left -50px repeat-x;
-webkit-box-shadow:1px 2px 2px #323a43;
-moz-box-shadow:1px 2px 2px #323a43;
box-shadow:1px 2px 2px #323a43;
position:relative;
}

div.warning h3 {
height:50px;
background:url(../images/alert_icons.png) left -50px no-repeat;
font-size:12px;
line-height:50px;
padding-left:50px;
color:#f7f3c6;
text-shadow:1px 1px 0 #000;
margin:0;
}

div.warning .hide_btn {
width:16px;
height:17px;
display:block;
text-decoration:none;
position:absolute;
right:18px;
top:17px;
background:url(../images/alert_close_btn.png) left -17px no-repeat;
opacity:0.7;
}

div.success {
height:50px;
margin-top:5px;
margin-bottom:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #364915;
background:url(../images/alert_bg.png) left -100px repeat-x;
-webkit-box-shadow:1px 2px 2px #323a43;
-moz-box-shadow:1px 2px 2px #323a43;
box-shadow:1px 2px 2px #323a43;
position:relative;
}

div.success h3 {
height:50px;
background:url(../images/alert_icons.png) left -100px no-repeat;
font-size:12px;
line-height:50px;
padding-left:50px;
color:#deecc7;
text-shadow:1px 1px 0 #000;
margin:0;
}

div.success .hide_btn {
width:16px;
height:17px;
display:block;
text-decoration:none;
position:absolute;
right:18px;
top:17px;
background:url(../images/alert_close_btn.png) 0 -34px no-repeat;
opacity:0.7;
}

div.information {
height:50px;
margin-top:5px;
margin-bottom:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #183239;
background:url(../images/alert_bg.png) bottom repeat-x;
-webkit-box-shadow:1px 2px 2px #323a43;
-moz-box-shadow:1px 2px 2px #323a43;
box-shadow:1px 2px 2px #323a43;
position:relative;
}

div.information h3 {
height:50px;
background:url(../images/alert_icons.png) left bottom no-repeat;
font-size:12px;
line-height:50px;
padding-left:50px;
color:#c7e4ec;
text-shadow:1px 1px 0 #000;
margin:0;
}

div.information .hide_btn {
width:16px;
height:17px;
display:block;
text-decoration:none;
position:absolute;
right:18px;
top:17px;
background:url(../images/alert_close_btn.png) bottom no-repeat;
opacity:0.7;
}

#main {
overflow:hidden;
padding:20px 0;
}

#logo {
width:162px;
height:40px;
display:block;
background:url(../images/logo.png) no-repeat;
text-indent:-9999px;
margin:0 auto;
}

#search {
width:270px;
height:40px;
background:url(../images/search_bg.png) no-repeat;
float:right;
}

#searchinput {
width:215px;
border:0;
color:#acb3bf;
text-shadow:0 1px 0 #000;
margin:0 5px;
padding:0;
}

#searchbutton {
width:38px;
height:38px;
background:url(../images/search_button.png) no-repeat;
text-indent:-9999px;
margin:1px;
}

#searchbutton:hover {
opacity:0.8;
}

#searchbutton:active {
opacity:0.6;
}

#userbar {
height:65px;
background:url(../images/userbar_bg.png) top repeat-x;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #2B323B;
-webkit-box-shadow:1px 2px 2px #323a43;
-moz-box-shadow:1px 2px 2px #323a43;
box-shadow:1px 2px 2px #323a43;
overflow:hidden;
margin:5px;
}

#profile {
height:65px;
background:url(../images/userbar_bg.png) 65px repeat-x;
border-right:1px solid #2b313c;
float:left;
padding:0 0 0 10px;
}

#profile #avatar {
width:44px;
height:44px;
background:url(../images/userbar_bg.png) repeat-x;
position:relative;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #2B323B;
-webkit-box-shadow:1px 2px 2px #262c36;
-moz-box-shadow:1px 2px 2px #262c36;
box-shadow:1px 2px 2px #262c36;
float:left;
margin:5px 0;
padding:3px;
}

#profile #avatar img {
position:absolute;
top:3px;
left:3px;
}

#profile #avatar #unreadcount {
height:12px;
position:absolute;
bottom:5px;
right:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
color:#fff;
font-size:10px;
font-weight:700;
text-shadow:0 1px 0 #832a2a;
text-decoration:none;
border:1px solid #3b2b2b;
background:url(../images/unread_bg.png) repeat-x;
display:block;
padding:0 2px;
}

#profile #profileinfo {
height:65px;
float:left;
border-right:1px solid #4b5462;
padding:0 10px;
}

#profileinfo #username {
font-size:12px;
text-shadow:1px 1px 0 #000;
margin:8px 0 0;
}

#profileinfo #subline {
color:#5a6371;
font-size:10px;
text-shadow:1px 1px 0 #000;
}

.profilebutton {
height:18px;
background:url(../images/profile_button.png) top repeat-x;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border:1px solid #2B323B;
color:#c1ccda;
line-height:18px;
font-size:10px;
text-decoration:none;
text-transform:uppercase;
text-shadow:1px 1px 0 #000;
float:left;
display:block;
margin:5px 5px 0 0;
padding:0 5px;
}

.profilebutton:hover {
background:url(../images/profile_button.png) bottom repeat-x;
color:#fff;
}

#navigation {
float:right;
list-style:none;
margin:0;
}

#navigation li {
height:65px;
border-left:1px solid #343b47;
float:left;
margin:0;
}

#navigation li:hover {
background:url(../images/userbar_bg.png) bottom repeat-x;
}

#navigation li:active,#navigation li.activepage {
background:url(../images/userbar_bg.png) center repeat-x;
}

#navigation li a {
height:30px;
border-left:1px solid #505b6b;
background-position:center 20px;
color:#b6bfce;
line-height:30px;
font-size:10px;
text-decoration:none;
text-transform:uppercase;
text-shadow:1px 1px 0 #000;
display:block;
padding:35px 15px 0;
}

#navigation li a:hover {
color:#fff;
border-left:1px solid #758193;
}

#navigation li a:active,#navigation li.activepage a {
color:#b6bfce;
border-left:1px solid #474f5c;
}

.icon_stats {
background:url(../images/icon_statistics.png) no-repeat;
}

.icon_settings {
background:url(../images/icon_settings.png) no-repeat;
}

.icon_email {
background:url(../images/icon_email.png) no-repeat;
}

.icon_logout {
background:url(../images/icon_logout.png) no-repeat;
}

.icon_comment {
background:url(../images/icon_comment.png) no-repeat;
}

.icon_users {
background:url(../images/icon_users.png) no-repeat;
}

.icon_notify {
background:url(../images/icon_notify.png) no-repeat;
}

.icon_lock {
background:url(../images/icon_lock.png) no-repeat;
}

.icon_unlock {
background:url(../images/icon_unlock.png) no-repeat;
}

.icon_search {
background:url(../images/icon_search.png) no-repeat;
}

.icon_save {
background:url(../images/icon_save.png) no-repeat;
}

.icon_calendar {
background:url(../images/icon_calendar.png) no-repeat;
}

.icon_favourite {
background:url(../images/icon_favourite.png) no-repeat;
}

.icon_folder {
background:url(../images/icon_folder.png) no-repeat;
}

.icon_like {
background:url(../images/icon_like.png) no-repeat;
}

.icon_minus {
background:url(../images/icon_minus.png) no-repeat;
}

.icon_plus {
background:url(../images/icon_plus.png) no-repeat;
}

.icon_cross {
background:url(../images/icon_cross.png) no-repeat;
}

.icon_check {
background:url(../images/icon_check.png) no-repeat;
}

.icon_home {
background:url(../images/icon_home.png) no-repeat;
}

.icon_up {
background:url(../images/icon_up.png) no-repeat;
}

.icon_down {
background:url(../images/icon_down.png) no-repeat;
}

.icon_left {
background:url(../images/icon_left.png) no-repeat;
}

.icon_right {
background:url(../images/icon_right.png) no-repeat;
}

.icon_article {
background:url(../images/icon_article.png) no-repeat;
}

.block {
margin-bottom:10px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:1px 2px 2px #323a43;
-moz-box-shadow:1px 2px 2px #323a43;
box-shadow:1px 2px 2px #323a43;
}

.block .titlebar {
background:url(../images/block_title_bg.png) repeat-x;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border:1px solid #2b323b;
position:relative;
}

.titlebar h3 {
height:38px;
color:#cfd7e4;
font-size:12px;
text-shadow:1px 1px 0 #000;
text-transform:uppercase;
line-height:38px;
background:url(../images/block_title_bullet.png) 15px center no-repeat;
margin:0;
padding:0 0 0 30px;
}

.titlebar .toggle {
width:16px;
height:17px;
display:block;
text-decoration:none;
position:absolute;
right:10px;
top:12px;
background:url(../images/block_title_toggle.png) top no-repeat;
opacity:0.7;
}

.show {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

.titlebar .show {
background:url(../images/block_title_toggle.png) bottom no-repeat;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

.block .block_cont {
color:#2e333b;
background:url(../images/loginbox_bg.png) repeat;
-webkit-border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
border-left:1px solid #272d35;
border-right:1px solid #272d35;
border-bottom:1px solid #272d35;
padding:10px;
}

.block_cont p {
text-align:justify;
font-size:12px;
line-height:150%;
padding:0 0 10px;
}

.table {
border:1px solid #2b323b;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

.table table {
width:100%;
border-collapse:separate;
}

.table th {
height:40px;
background:#495362;
border-top:1px solid #6a7585;
color:#cfd7e4;
text-shadow:1px 1px 0 #000;
text-align:left;
text-transform:uppercase;
line-height:40px;
padding:0 10px;
}

.table tr {
height:30px;
background:transparant;
line-height:30px;
color : #fff;
}

.table tr.even {
background:transparant;
}

.table tr:hover {
background:#363d47 url(../images/background.jpg) top center no-repeat fixed;
}

.table tr td {
border-bottom:1px solid #2b323b;

padding:0 10px;
}

.actionbar .action {
width:24px;
height:24px;
float:left;
position:relative;
color:#fff;
line-height:18px;
font-size:10px;
text-decoration:none;
text-transform:uppercase;
text-shadow:1px 1px 0 #000;
margin:0 2px 0 0;
}

.actionbar .action span {
width:60px;
height:23px;
position:absolute;
top:25px;
left:-17px;
background:url(../images/action_tooltip.png) no-repeat;
line-height:26px;
text-align:center;
z-index:999;
display:none;
}

.actionbar .view {
background:url(../images/action_icons.png) left top no-repeat;
}

.actionbar .view:hover {
background:url(../images/action_icons.png) left bottom no-repeat;
}

.actionbar .edit {
background:url(../images/action_icons.png) center top no-repeat;
}

.actionbar .edit:hover {
background:url(../images/action_icons.png) center bottom no-repeat;
}

.actionbar .delete {
background:url(../images/action_icons.png) right top no-repeat;
}

.actionbar .delete:hover {
background:url(../images/action_icons.png) right bottom no-repeat;
}

.gallery {
overflow:hidden;
padding:0 0 5px;
}

.gallery_item {
width:200px;
height:150px;
background:#eee;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:1px 2px 2px #ccc;
-moz-box-shadow:1px 2px 2px #ccc;
box-shadow:1px 2px 2px #ccc;
position:relative;
float:left;
margin:10px;
padding:5px;
}

.gallery_item img {
position:absolute;
top:5px;
left:5px;
}

.gallery_item:hover img {
opacity:0.5;
}

.gallery_item .actionbar {
display:none;
position:absolute;
top:65px;
left:65px;
}

.navbutton_showcase {
overflow:hidden;
}

.navbutton {
width:90px;
height:65px;
background:url(../images/userbar_bg.png) top repeat-x;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:1px solid #2B323B;
-webkit-box-shadow:1px 2px 2px #ccc;
-moz-box-shadow:1px 2px 2px #ccc;
box-shadow:1px 2px 2px #ccc;
color:#B6BFCE;
font-size:10px;
text-decoration:none;
text-transform:uppercase;
text-shadow:1px 1px 0 #000;
display:block;
margin:4px;
}

.navbutton:hover {
background:url(../images/userbar_bg.png) bottom repeat-x;
color:#fff;
}

.navbutton:active {
background:url(../images/userbar_bg.png) center repeat-x;
color:#fff;
}

.navbutton span {
width:90px;
height:30px;
background-position:center 20px;
line-height:30px;
text-align:center;
display:block;
padding:35px 0 0;
}

.progress {
width:100%;
}

.progress .bar {
height:30px;
border:1px solid #2B323B;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
margin:5px 0;
}

.progress .bar .percentage {
height:30px;
background:url(../images/block_title_bg.png) top repeat-x;
color:#B6BFCE;
font-size:11px;
font-weight:700;
line-height:30px;
text-shadow:1px 1px 0 #000;
text-align:center;
}

.progress .bar .percentage:hover {
opacity:0.8;
color:#fff;
}

#loginbox {
width:280px;
height:200px;
position:absolute;
top:50%;
left:50%;
margin-left:-140px;
margin-top:-100px;
}

#loginbox #loginform {
background:url(../images/loginbox_bg.png) repeat;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border-bottom:1px solid #58626f;
border-right:1px solid #58626f;
margin:10px 0 0;
padding:15px;
}

#loginbox #username_field {
width:250px;
height:36px;
background:url(../images/loginbox_username.png) repeat;
}

#loginbox #password_field {
width:250px;
height:36px;
background:url(../images/loginbox_password.png) repeat;
margin:5px 0 0;
}

#loginbox #username_field input,#loginbox #password_field input {
width:200px;
height:36px;
text-shadow:1px 1px 0 #000;
color:#fff;
overflow:hidden;
padding:0 0 0 35px;
}

#loginbox #buttonline {
overflow:hidden;
margin:5px 0 0;
}

#loginform label {
display:none;
opacity:0;
text-indent:-9999px;
font-size:0;
}

#loginform .error {
width:215px!important;
-webkit-shadow:0 0 4px #c06666;
-moz-box-shadow:0 0 4px #c06666;
box-shadow:0 0 4px #c06666;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

#loginbox #loginbutton {
width:100px;
}

#loginbox .passforgot {
color:#fff;
text-align:left;
text-shadow:1px 1px 0 #000;
text-decoration:none;
line-height:30px;
padding:0 10px 0 0;
}

#loginbox .passforgot:hover {
color:#a2acb8;
}

.float_right {
float:right;
}

.errorpage_title {
font-size:72px;
font-weight:400;
color:#282e36;
text-shadow:1px 1px 1px #657185;
text-align:center;
margin:150px 0 30px;
}

.errorpage_subtitle {
text-align:center;
font-size:18px;
color:#B6BFCE;
text-shadow:1px 1px 2px #2b323c;
}

ul li,#body {
margin:10px 0;
}

.form .submit,#loginbutton {
display:block;
height:32px;
background:url(../images/form_button.png) top repeat-x;
color:#fff;
text-align:center;
text-shadow:1px 1px 0 #000;
text-decoration:none;
line-height:30px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border:1px solid #2a3139;
-webkit-box-shadow:0 1px 1px #323a43;
-moz-box-shadow:0 1px 1px #323a43;
box-shadow:0 1px 1px #323a43;
}

.form .submit:hover,#loginbutton:hover {
background:url(../images/form_button.png) bottom repeat-x;
}

.form .submit:active,#loginbutton:active {
line-height:32px;
}

div.error .hide_btn:hover,div.warning .hide_btn:hover,div.success .hide_btn:hover,div.information .hide_btn:hover,.titlebar .toggle:hover {
opacity:1;
}

.actionbar .action:hover span,.gallery_item:hover .actionbar {
display:block;
}

.navbutton_showcase .navbutton,.float_left {
float:left;
}