body 	
	{
	color				: #ffffff;
	font-family			: tahoma;
	font-size			: 8pt;
	background-color		: #041021;

	scrollbar-face-color		: #01070E;
	scrollbar-highlight-color	: #ffffff;
	scrollbar-shadow-color		: #ffffff;
	scrollbar-3dlight-color		: #01070E;
	scrollbar-arrow-color		: #01070E;
	scrollbar-track-color		: #041021;
	scrollbar-darkshadow-color	: #01070E;
	}

a 	
	{
	color				: #ffffff;
	text-decoration			: none;
	}

a:hover 
	{
	color				: #ffffff;
	text-decoration			: underline;
	}

select 	
	{
	font-family			: Tahoma;
	border				: 0px;
	background-color		: #01070E;
	color				: #ffffff;
	font-size			: 8pt
	}

input2 	{
	font-family			: Tahoma;
	font-size			: 8pt;
	border				: 0px solid;
	background-color		: #01070E;
	color				: #ffffff;
	}


.table 	
	{
	font-family			: Tahoma;
	border				: 1px solid #425B6A;
	background-color		: #01070E;
	color				: #ffffff;
	font-size			: 8pt;
	}

.table1 
	{
	font-family			: Tahoma;
	font-weight			: bold;
	border				: 1px solid #425B6A;
	background-color		: #01070E;
	color				: #ffffff;
	font-size			: 8pt;
	}

.text 	
	{
	font-family			: Tahoma;
	color				: #96A69A;
	font-size			: 8pt;
	border				: 1px solid #425B6A;
	background-color		: #01070E;
	color				: #ffffff;
	}

.button 
	{
	border				: 1px solid #425B6A;
	color				: #ffffff;
	font-weight			: bold;
	background-color		: #01070E;
	font-size			: 8pt;
	}


.string 
	{
	background			: #041021;
	}

.menu 	
	{
	padding-top			: 5px;
	padding-bottom			: 5px;
	}

.menu a 
	{
	background			: #01070E;
	color				: #ffffff;
	font-weight			: bold;
	border				: 1px solid #425B6A;
	padding				: 3px 10px;
	margin-left			: 2px;
	}

.menu a:hover 
	{
	background			: #041021;
	color				: #ffffff;
	}